@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo:ital,wdth,wght@0,62..125,100..900;1,62..125,100..900&display=swap');


::-webkit-scrollbar {
  width: 18px;
  display:none;
  /* padding-left:50px; */
}

::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: var(--paletteOrange);
}

::-webkit-scrollbar-thumb {
  background-color: var(--paletteWhite);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    /* width:50px; */
    background-color: var(--paletteDark);
}


:root{
    --paletteOrangeTrans:#eaa52599;
    --mainFontSmallSize:25px;
    --mainFontSmallLetterSpacing:2px;
    --mainFontWeight:400;
    --mainFontMediumSize:45px;
    --mainFontMediumLetterSpacing:4px;
    --mainFontBigSize:140px;
}

/* html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
} */

* {
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

