

.slide{
    scroll-snap-type: y;
    position: relative;
    margin: 0;
    /* padding-top: 10dvh; */
    padding-left: 9dvw;
    /* background-color: var(--paletteWhite); */
    align-items: center;
    height:100dvh;
    display: flex;
    flex-direction: row; /* Stack children vertically */
    justify-content: space-between; /* Space out children */
}

.slide h2{
    font-size:var(--mainFontMediumSize);
}

.slide h1{
    font-size:var(--mainFontBigSize);
    line-height: 110px;
}

.slide a{
    color:var(--paletteOrange);
    background-color: var(--paletteWhite);
    padding: 0px 20px;
    font-size: var(--mainFontMediumSize);
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
    transform: scale(1.0);
}

.slide a:hover{
    background-color: var(--paletteWhite);
    color:var(--paletteOrange);
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
}

.slideBtn{
    padding: 5% 0;
    float:right;
    position: relative;
    transition: scale 0.3s ease-in-out;
    transform: scale(1);
}

.slideBtn:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}


.slideAction{
    position: absolute;
    width:550px;
    transform: translate(0,60%);
    z-index:2;
}

.slideCanvas{
    align-self:flex-end;
}



.box::before{
  border-radius: 3px;
    animation: lineIn 1s;
    width:101%;
    margin-left: -1px;
    font-size: calc(var(--mainFontMediumSize) + 5px);
    text-decoration:underline;
    text-underline-offset: 7px;
    height: 55%;
    content: attr(data-before);
    font-weight: bold;
    color: var(--paletteWhite);
    overflow: hidden;
    text-align: center;
    position: absolute;
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    top:47%;
    transform: translate(0,-50%);
    left:0;
    background-color: var(--paletteOrange);
    transition: all 0.5s ease-in-out; 
}


h1 p{
    position:relative;
    display: inline-block;
    font-size:calc(var(--mainFontBigSize) - 15px);
}

h1 p::after{
    content:'';
    position:absolute;
    top:-7px;
    left:0;
    width:98%;
    height:5px;
    /* background-color:var(--paletteWhite) */
}


.nextSlide{
    position:absolute;
    bottom:5dvh;
    right:50%;
    /* left:calc(50% - 9dvh/2); */
    transform: translate(calc(25% + 10px),0);
    z-index:2;
    /* width:90px; */
    transition: all 0.3s ease-in-out;
}

.nextSlide:hover{
    bottom:2dvh;
    /* transform: translate(calc((25% + 10px) * 1.1),0); */
    transition: all 0.3s ease-in-out;
    cursor:pointer;
}

.nextSlide h6{
    float:right;
    font-size:var(--mainFontSmallSize);
    margin:0;
    transform:translate(-10px,0)
}
.nextSlide img{
    float:left;
    width:40px;
    margin-top:10px;
}

.svgOrange{
    filter: brightness(0) saturate(100%) invert(84%) sepia(12%) saturate(7104%) hue-rotate(341deg) brightness(96%) contrast(91%);
}

h1,h2,h6{
    font-family:Bebas Neue;
    letter-spacing: var(--mainFontMediumLetterSpacing);
    font-weight: var(--mainFontWeight);
    padding:2% 0;
}

a{
    font-family:Bebas Neue;
    font-weight: var(--mainFontWeight);
    letter-spacing: var(--mainFontSmallLetterSpacing);
    cursor: pointer;
    text-decoration: none;
}

